.graph {
	border-radius: 4px;
	border: 2px solid rgba(0,0,0,0.2);
	background:white;
	opacity:.8;
	padding:10px;
	margin: 5px
}

.small-graph {
	padding:2px;
	margin: 3px;
	position: relative
}

.small-graph .graph-title {
	position: absolute;
  	left: 23px;
  	top: 28px;
}

.graph-title {
	display: block;
	text-align: center;
}
.graph-title .reset {
	position: absolute;
	margin-left: 5px;
}
.circle {
  border-radius: 30px;
  border: 1px solid rgba(0,0,0,0.2);
  width: 48px;
  height:48px;
  margin: 10px;
	margin-top: -3px;
	margin-bottom: 5px;
  float:left;
}

.list {
	border-radius: 4px;
	border: 2px solid rgba(0,0,0,0.2);
	background:white;
	opacity:.9;
	list-style:none;
	padding:0;
	overflow-y:scroll;
	width:450px;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	cursor: pointer;
}

.list:empty {
	display:none;
}

.list li {
	padding-top:16px;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
}

.list li:hover {
	background-color: #f6f7f8;
}


.list li a {
	margin-right:5px;
}

hr {
	margin-bottom:0px;
}
