/*This file should contain all CSS related to general page layout*/

html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
}

.viz-control{
  position:absolute;
  z-index:50000;
  /*display: none;*/
}

#filter-controls{
  right: 10px;
  top: 10px;
}

#list-controls{
  left: 9px;
  bottom: 9px;
  /*top: 84px;*/
}

#animal-switches {
  left: 8px;
  /*bottom: 9px;*/
  top: 0px;
}

#animal-switches li {
  display: inline-block;
}

/*Remove x axis line on ordinal bar charts*/
#beds .x path,
#baths .x path {
	stroke: none;
}
