/*This file should contain all CSS related to general page layout*/

html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
}

.viz-control{
  position:absolute;
  z-index:50000;
  /*display: none;*/
}

#filter-controls{
  right: 10px;
  top: 10px;
}

#list-controls{
  left: 9px;
  bottom: 9px;
}
